<form>

    <label for="name">Reporter name:</label> <br>
    <input type="text" id="name" name="name" placeholder="Enter name"> <br>

    <label for="phone-num">Reporter phone number:</label> <br>
    <input type="text" id="phone-num" name="phone-num" placeholder="Enter phone number"> <br>

    <label for="pig-info">pig info:</label> <br>
    <input type="text" id="breed" name="pig-info" placeholder="Enter Breed"> <br>
    <input type="text" id="Pid" name="pig-info" placeholder="Enter pig id"> <br>

    <label for="location">Location:</label> <br>
    <input type="text" id="location" name="location" placeholder="Enter location"><br>
    <input type="text" id="longitude" name="location" placeholder="Enter longitude">
    <input type="text" id="latitude" name="location" placeholder="Enter latitude"> <br>

    <label for="extra">Extra info:</label> <br>
    <input type="text" id="extra" name="extra" placeholder="Enter extra info"> <br>
    
    <div id="buttons-holder">
        <button type="button" id="submit" (click)="add()">SUMBIT</button>
        <button type="button" id="cancel" (click)="goback()">CANCEL</button>    
    </div>

</form>

