<form>
    <legend>Change Status</legend>
    <label for="password">Enter Password:</label><br>
    <input type="text" id="password" name="password" placeholder="Enter password"><br>

    <label for="name">Enter Name of Pig You Want to Change:</label><br>
    <input type="text" id="pigname" name="name" placeholder="Enter name"> <br>
    
    <label for="status">Enter New Status:</label>
    <input type="text" id="status" name="status" placeholder="Enter new status"><br>

    <div id="buttons-holder">
        <button type="button" id="delete" (click)="change()">CONFIRM</button> 
        <button type="button" id="cancel" (click)="goback()">CANCEL</button>    
    </div>
</form>
